*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header { 
background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(photo/artificial-intelligence3-600x495.JPG) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center;
height: 80vh;
margin-left: 75px;
margin-right: 80px
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 0px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
.logo img
{
	float: left;
	width: 150px;
	height: auto;
}
/*.main{
	max-width: 1200px;
	margin: auto;
}*/
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title  h1{
	color: #fff;
	font-family: Arial Rounded MT Bold;
	font-size: 100px;
}
.title h2{
	color: grey;
	font-family: calibri;
	font-size: 25px;
	margin: 20px;
	margin-left: 180px
}